.dashboard {
  margin-left: 300px; /* Tạo khoảng trống để không bị đè bởi sidebar */
  padding: 80px;
}

.card-container {
  display: ruby;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Tự động lấp đầy với tối thiểu 200px mỗi thẻ */
  gap: 20px; /* Khoảng cách giữa các thẻ */
  max-width: 1200px; /* Giới hạn tối đa chiều rộng cho container */
  margin: 0 auto; /* Căn giữa container */
}


.dashboard h1 {
  width: 100%; /* Đặt độ rộng cho tiêu đề */
  text-align: center; /* Căn giữa tiêu đề */
  margin-bottom: 30px; /* Tạo khoảng cách dưới tiêu đề */
  font-size: 2rem; /* Điều chỉnh kích thước chữ cho tiêu đề */
  margin-top: -50px;

}

.card {
  width: 28%; /* Điều chỉnh độ rộng của mỗi thẻ */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease;
  margin-top: 12px;
  margin-left: 51px;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.card-header i {
  margin-right: 10px;
}

.card-body {
  font-size: 18px;
  margin-bottom: 15px;
}

.card-footer a {
  color: #007bff;
  text-decoration: none;
}

.card-footer a:hover {
  text-decoration: underline;
}

.card-blue {
  background-color: #3498db;
  color: #fff;
}

.card-green {
  background-color: #2ecc71;
  color: #fff;
}

.card-yellow {
  background-color: #f1c40f;
  color: #fff;
}

.card {
  cursor: pointer;  /* Thêm con trỏ để hiển thị khi hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);  /* Thêm hiệu ứng hover */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.card-purple {
  background-color: #9b59b6; /* Màu tím */
  color: #fff;
}
